 

body.dark{
    background-color: #000;
    color: white;
    transition: 0.5s;
}
/*navigation bar*/

nav{
    background-color: #d3ddee;
    line-height: 3.5rem;
    box-shadow: 10px 3px 20px -3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 10px 3px 20px -3px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 3px 20px -3px rgba(0,0,0,0.3);
}
nav a{
    text-decoration: none;
    color: rgba(6, 7, 83, 0.333, 23);
    
}
.nav-link{
    text-align: center;
}
nav .links{
    padding: 25px;
}
nav .bi-cloud-moon-fill{
   position: absolute;
   right: 300px;
   top: 25px;
}
.bi-person-fill{
    position: absolute;
    right: 150px;
    top: 25px;
    cursor: pointer;
}

/*welcome section*/
section.welcome{
    margin-top: 20px;
}
section.welcome .text{
    margin-top: 100px;
}
section.welcome .button a{
    text-decoration: none;
}
section.welcome .button{
    margin-top: 50px;
}
section.welcome .btn1{
    background-color: #063e9e;
    color: white;
    padding: 10px;
    padding-right: 25px;
}
section.welcome .btn2{
    background-color: white;
    color: blue;
    border: 2px solid #063e9e;
    padding: 10px;
}
section.welcome .btn2:hover{
    background-color: rgb(96, 96, 238);
    color: white;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
/* about us section*/
section.about-us{
    margin-top: 100px;
}
section.about-us .text{
    margin-top: 50px;
}

/*contact us section*/

.contactUs{
    margin-top: 100px;
    margin-bottom: 50px;
}
section.contactUs .text{
    margin-top: 100px;
}
section.about-us p3{
    letter-spacing: 2px; 
    text-transform: capitalize;
    margin-left: 255px;
}
section.about-us .content{
    margin-top: 20px;
}
section.about-us .exp{
    margin-top: 50px;
}
#test{
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}
#test p{
    font-size: 20px;
    font-family: 'josefin Sans';
    color: #000;
}
#test p.customer{
    font-size: 20px;
    color: rgb(122, 117, 168);
}
/*footer section*/

.footer{
    background-color: #000;
    max-width: 100%;
}
.cards{
    position: static;
    background-color: rgb(48, 44, 44);
    color: #ffff;
    padding: 20px;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    height: 70vh;
    box-shadow: 10px 3px 20px -3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 10px 3px 20px -3px rgba(61, 51, 122, 0.3);
    -moz-box-shadow: 10px 3px 20px -3px rgba(44, 62, 160, 0.3);
}
.card .card-text{
    text-align: center;
    margin-top: 25px;
}
.card .card-text p{
    margin-top: 15px;
    
}
.card .card-text h1{
    margin-top: 10px;
}
.footer .cpr{
    background-color: rgb(48, 44, 44);
    height: 8vh;
    margin-top: 40px;
}
.footer .cpr p{
    color: #ccc;
    padding-top: 12px;
}
.cpr a{
    padding-right: 20px;
    text-decoration: none;
    color: #ccc;
}
.map{
    color: white;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: none;
    height: 70vh;
    width: 85%;
}
.map-content{
    margin-top: 20px;
}
section.footer .map{
    margin-top: 25px;
}
section.footer .map p{
    color: white;
    margin-top: 15px;
}
.map-text h4{
    margin-top: 65px;
}
.map-text h4::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 3px;
    margin-top: 45px;
    background-color: #063e9e;
    
}
.map-link{
    padding: 1px;
    margin-top: 55px;
}
.map-link li{
    padding: 5px;
    list-style: none;
}
.map-link a{
    text-decoration: none;
    color: #666;
}
.map-link .col{
    margin-bottom: 15px;
}
.call{
    color: white;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: none;
    height: 70vh;
    width: 85%;
}
.call-text p{
    margin-top: -236px;
    color: white;
    padding-right: 55px;
}
.call-input{
    margin-top: 50px;
    text-align: center;
}
.call-input input{
    background-color: rgb(73, 72, 72);
    width: 220px;
    line-height: 40px;
    border: 1px solid rgb(73, 72, 72);
    border-radius: 50px;
    text-indent: 16px;
    outline: 0;
}
.call-input input:focus{
    outline: none;
    color: white;
}
.card-icon{
    position: absolute;
    margin-top: 14rem;
    margin-left: 1rem;
}
.card-icon svg{
    float: left;
    width: 50px;
    padding: 5px;
    z-index: 999;
}
/*hamburger*/
.hamburger{
    float: left;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 15px;
    display: none;
    
}
.hamburger:hover{
    background-color: #d3ddee;
    border-radius: 5px;
    padding: 5px;
    transition: 0.2s;
}
.ham{
      display: block;
      width: 30px;
      height: 3px;
      margin-top: 5px;
      margin-bottom: 5px;
      position: relative;
      background: rgb(97, 92, 92);
      border-radius: 1px;
}
.menu-body{
    background: #063e9e;
    margin-top: -25px;
    border-radius: 20px;
    height: 50vh;
    width: 35vh;
    position: fixed;
    top: 15vh;
    left: 55vw;
    display: none;
    transition: 0.5s;
    animation: mymove 1s;
}
@keyframes mymove{
    from {
        transform: translateX(100%);
      }
    
      to {
        transform: translateX(0%);
      }
}
#menu-link a{
    padding: 1px;
    transition: 0.5s;
}
#menu-link{
    position: absolute;
    margin: -20px;
    left: 20px;
}
#menu-link li:hover{
    transition: 0.3s;
    padding: 3px;
    color: #063e9e;
    background-color: #b9c0cc;
    width: 120px;
    border-radius: 5px;

}

/*user field*/
#userCard{
    box-shadow: 10px 3px 20px -3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 10px 3px 20px -3px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 3px 20px -3px rgba(0,0,0,0.3);
    background-color: white;
    width: 40vh;
    height: 50vh;
    position: fixed;
    bottom: 250px;
    right: 10px;
}
#userCard p{
    margin-left: 20px;
}
#userCard .card-btn{
    margin-top: 5px;
    margin-left: 30px;
    border-radius: 5px;
}
#userCard .card-list ul{
    list-style-type: none;
}
#userCard .card-list li{
    margin-top: 20px;
}
#userCard .card-list{
    margin-top: 20px;
}
#userCard .card-list ul a{
    text-decoration: none;
}
#userCard .card-btn a{
    padding: 7px;
    text-decoration: none;
    margin: 10px; 
}
.login{
    background-color: #063e9e;
    color: white;
}
.login:hover{
    color: white;
}
.sign-in{
    background-color: #d3ddee;
    color: #063e9e;
}
#userCard{
    display: none;
}
/*media-query*/
@media only screen and (max-width: 600px) and (max-width: 780px){
    #nav-style{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .second-nav{
        display: block;
    }
    #userCard{
        display: none;
    }
}

@media only screen and (max-width: 1024px){
    #nav-style{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .second-nav{
        display: block;
        
    }
    #userCard{
        display: none;
    }
}

/* contact page */

#contact_us{
    color: #063e9e;
    text-align: center;
    margin-top: 3rem;
}
#contact_information{
    border-radius: 1px;
    padding: 20px;
    background-color: rgb(250, 242, 242);
}
#contact_information{
    background-color: rgb(43, 10, 190);
    color: #dfff;
    padding: 30px ;
    border-radius: 10px 10px ;
}
#contact_information i{
    line-height: 5rem;
    color: #000;
}
.smd i{
    margin: 10px;
    font-size: 25px;
}

.smd i:hover{

}

textarea:focus{
    outline: none;
}
.contact-mail{
    
        margin-top: 50px;
        text-align: center;
}
    .contact-mail input{
        background-color: rgb(73, 72, 72);
        width: 220px;
        line-height: 40px;
        border: 1px solid rgb(73, 72, 72);
        border-radius: 50px;
        text-indent: 16px;
        outline: 0;
    }
    .contact-mail input:focus{
        outline: none;
        color: white;
    }




 

















